name: GoNovu

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Debug
        run: |
          printenv | sort

      - name: Get dependencies
        run: |
          go get -t ./...
          go get -u golang.org/x/lint/golint

      - name: Run lint and Test
        run: |
          golint .
          go test -v ./...
